<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


<!--  Instead of using through XML we can write annotations:  Follow below code 

	 <bean id="tvRemote" class="com.saksham.SpringAnnotationPractice.TvRemote">
		<property name="tv">
			<bean id="tv" class="com.saksham.SpringAnnotationPractice.TV"></bean>
	
		</property>
	
	</bean>
-->	


<!-- We need to add these two lines to use Annotations in springs 
	first tag allow us to use annotations
	second tag use to scan the class path for annotated Components that will be auto-registered as Spring Beans -->
	<context:annotation-config/>
	<context:component-scan base-package="com.saksham.SpringAnnotationPractice"></context:component-scan>

</beans>
